@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: var(--font-sans);
  overflow: hidden;
  user-select: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.2);
}
